@import "../../../styles";

* {

  align-items: center;
  justify-items: left;

  background-color: #1A1A1A;

  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-align: left;

}


.bio{
  margin-right: 10%;

  .title, .genre-title{
    h1{
      white-space: nowrap;
      letter-spacing: -2.5px;
      font-family: 'Contrail One', cursive;
      font-weight: 500;
      font-size: 2.5em;
      color: $g-red;
    }
  }

  .info{
    font-size: 1.2em;
  }

  .genre{
    display: flex;
    margin: 10% 0px 10% 0px;
    }
    .genre-selection{
      margin-left: 5%;
      font-size: 1.2em;
    }
}


.textarea-bio {
  min-height: 200px;
}

.genre-select, .genre-btn{
  transition-property: display;
  transition-duration: 0.56s;
  transition-timing-function: ease-in-out;
}

.hidden{
  display: none;
  transition-property: display;
  transition-duration: 0.56s;
  transition-timing-function: ease-in-out;
}


::ng-deep .mat-form-field {
  .mat-input-element {
      color: #ffff;
  }
  .mat-form-field-label {
      color: #ffff;
  }

  .mat-select, .mat-option {
      color: #ffff;
  }
}


fa-icon {

  cursor: pointer;
  font-size: 0.7em;
  color: $edit;

  &:hover{
    color: $g-red;
  }
}


hr {
  margin-top: 3%;
  margin-bottom: 5%;
  border-top: 4px solid #ffff;
}




@media (max-width: 640px){

  .bio .info{
    font-size: 1.1em;
  }
}
