@import "../../styles";

.container-fluid{


  background-color: $not-black;
}

.not-logged{
  font-size: 0.8rem;
  margin-top: -5px;
  margin-bottom: 10px;
}

.form-singin{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  padding-top: 5%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;

  a{
    display: flex;
    justify-content: center;

    .logo{
        max-width: 80%;
        margin: 15% 0%;
      }
  }

  .btn-lg{
    color: #ffff;
    background-color: $cian;
  }


}

.right-col{
  background-image: url("../../assets/img/login_bg.png");
  height: 100vh;



  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .form-control{
    margin: 2% 0;
    font-size: 1.3em;


  }

}



mat-form-field {
  width: 100%;
  font-size: 2em;
}

/* input color class */
::ng-deep .mat-form-field {
  .mat-input-element {
      color: #ffff;
  }
  .mat-form-field-label {
      color: #ffff;
  }
  .mat-form-field-underline {
      background-color: $cian;
  }
  .mat-form-field-ripple {
      background-color: #ffff;
  }
  .mat-form-field-required-marker {
      color: #ffff;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
      color: #ffff;
  }
  .mat-form-field-ripple {
      background-color: #ffff;
  }
  .mat-form-field-required-marker {
      color: #ffff;
  }
  .mat-input-element {
      color: $cian;
  }
}



@media (max-width: 990px)
{
  .form-singin{
      a{
      .logo{
          max-width: 60%;
          margin: 5% 0%;
        }
    }


  }
}
