<div class="cover">

<div class="gap row">
  <div class="col">
    <div class="row">
    <p class="little_title">EL PORTAL DE LOS AMANTES DE LA MÚSICA</p>
    </div>
    <div class="row">
    <h1 class="title">Descubre,<br>
      Encuentra,<br>
      Date a conocer</h1>
    </div>
  </div>
  <div class="col d-none d-lg-block">
   <img class="main_cartoon" src="../../assets/img/payo1_neon.png" alt="cartoon">
  </div>
</div>


<div class="gap row">
  <div class="col-12 col-md-6">
    <div class="login-text">
      <p>Consulta la web libremente <br>
        o disfruta de las ventajas de ser miembro
        </p>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="buttons">
      <button type="button" class="login-btn btn btn-secondary"  [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar sesión</button>
      <button type="button" class="signup-btn btn btn-secondary"  [routerLink]="['/signup']" routerLinkActive="router-link-active">Registro</button>
    </div>
  </div>

</div>


<div class="gap row">
  <div class="col d-none d-lg-block">
    <img class="cartoon" src="../../assets/img/paya1_neon.png" alt="cartoon">
  </div>
  <div class="col">
    <div class="row">
      <h1 class="info_title">Descubre artistas<br>emergentes</h1>
      </div>
      <div class="row">
      <p class="info">Entérate de qué artistas del panorama musical se mueven por tu zona. <br>
        ¡O por donde te apetezca! <br><br>

        Encuentra música que se adapte a tu rollo y entérate de dónde actuarán próxiamamente. <br><br>

        ¿Cómo se llamaba aquel grupazo que viste en la feria de Albacete? <br>
        Puede que lo encuentres en El Garito.</p>
      </div>
  </div>
</div>


<div class="gap row">
  <div class="col">
    <div class="row">
      <h1 class="info_title_red">Date a conocer</h1>
      </div>
      <div class="row">
      <p class="info">Seas rapero, trapero, dj, tengas una banda o una orquesta, este es tu sitio.<br><br>

        Llega a la audiencia que más quieres, ¡la que te busca!<br><br>

        Promociónate y cuelga dónde piensas actuar para atraer al público más melómano hasta a tí.<br><br>

        Puede que El Garito te ayude a dar el gran salto o te ponga en contacto con quien te ayude a hacerlo.</p>
      </div>
  </div>
  <div class="col d-none d-lg-block">
    <div class="red-container">
    <img class="cartoon" src="../../assets/img/payo2_neon.png" alt="cartoon">
  </div>
  </div>
</div>


<div class="gap row">
  <div class="col d-none d-lg-block">
    <img class="cartoon" src="../../assets/img/paya3_neon.png" alt="cartoon">
  </div>
  <div class="col">
    <div class="row">
      <h1 class="info_title">No te pierdas una</h1>
      </div>
      <div class="row">
      <p class="info">
        ¿Este finde vas a ver a unos colegas a Valencia y no sabéis que hacer?<br><br>

        Métete en El Garito para ver que actuaciones se llevarán a cabo durante esos días, seguro que sale planazo ;) <br><br>

        O ¿no quieres perderte una sesión de technazo de tu dj favorito?<br><br>

        ¡Consulta donde actuará próximamente en su perfil!</p>
      </div>
  </div>
</div>

