@import "../../styles";

* {

  align-items: center;
  justify-items: center;


  background-color: $bgColor;

  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  text-align: left;

}

.cover {
  padding: 75px 17% 150px 17%;
}

.gap {
  margin-bottom: 150px;
}


.little_title {

  color: #15C2A3;
  letter-spacing: 1.9px;
  font-size: 1em;
  z-index: 2;
  padding-bottom: 20px;


}


.title {
  text-justify: initial;
  letter-spacing: -6px;
  font-family: 'Contrail One', cursive;
  font-weight: 500;
  font-size: 5em;
  color: white;
  text-decoration: none;
  z-index: 2;
  background: none;
}

.main_cartoon {

  max-width: 135%;
  z-index: 1;
  margin-left: -25%;

}

.cartoon {
  max-width: 65%;
}

.red-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.info_title {

  letter-spacing: -2.9px;
  font-family: 'Contrail One', cursive;
  font-weight: 500;
  font-size: 2.5em;
  color: #15C2A3;
  margin-bottom: 20px;

}

.info_title_red {

  letter-spacing: -2.9px;
  font-family: 'Contrail One', cursive;
  font-weight: 500;
  font-size: 2.5em;
  color: #FF181E;
  margin-bottom: 20px;

}

.info {

  font-size: 1.2em;

}
