
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$El-Garito-primary: mat-palette($mat-indigo);
$El-Garito-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$El-Garito-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$El-Garito-theme: mat-light-theme((
  color: (
    primary: $El-Garito-primary,
    accent: $El-Garito-accent,
    warn: $El-Garito-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($El-Garito-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

$bgColor: #1A1A1A;
$not-black: #070707;
$cian:  #15C2A3;
$g-red: #FF181E;
$edit: #727272;



html, body {
  padding: 0;
  height: 100%;
  margin: 0;
  background-color: $bgColor;
}


/* Importing Bootstrap SCSS file. */
