<div class="email-form">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Contácta con nosotros</h1>
      <p>¿Tienes alguna duda? <br><br>

        ¿Te flipa El Garito y quieres contárnoslo?<br><br>

        ¿Algo no funciona como debería?<br><br>

        ¡Cuéntanos!<br><br>

        Cualquier consulta, reporte o comentario será bien recibido por nuestro equipo.</p>
        <div class="mail-adress">
          <fa-icon class="icon" [icon]="faMail" size="2x"></fa-icon>
          <p>el_garito_support@mail.com</p>
        </div>

    </div>
    <div class="col-12 col-md-6">

        <div class="row">
          <div class="col-6 g-0 name-col">
            <label class="label-1" for="inputname">Nombre</label>
              <input type="text" id="inputname" class="form-control" placeholder="">
          </div>
          <div class="col-6 g-0 email-col">
            <label class="label-1" for="inputemail">e-mail</label>
              <input type="text" id="inputemail" class="form-control" placeholder="">
          </div>
        </div>

        <div class="row">
          <label for="inputsubject">Asunto</label>
            <input type="text" id="inputsubject" class="form-control" placeholder="">

          <label for="inputmessage">Mensaje</label>
            <textarea type="text" id="inputmessage" class="form-control" rows="6" placeholder=""></textarea>

            <button type="button" class="btn">Enviar</button>
        </div>

    </div>
  </div>
</div>
