<div class="members">

  <div class="row">
    <div class="title">
      <h1>Miembros &nbsp;&nbsp;&nbsp;<fa-icon *ngIf="canEdit" [icon]="editIcon" (click)="openModalForm(content)"></fa-icon></h1>

    </div>
    <hr/>
  </div>


  <div class="row" >

    <div class="col-12" *ngFor="let member of members">

      <fa-icon (click)="removeMember(member._id)" *ngIf="canEdit" [icon]="removeIcon" class="remove-icon" size=2x></fa-icon>

      <div class="person">
        <div class="row">

              <div class="col-12 col-md-4">
                <img [src]="member.picture" alt="Un Personaje" *ngIf="member.picture">
                <img src="../assets/img/no-image.jpg" alt="Un Personaje" *ngIf="member.picture == ''">
              </div>
              <div class="info col-12 col-md-8">
                <div class="name">
                  {{member.name}}
                </div>
                <div class="role">
                  {{member.role}}
                </div>
              </div>

        </div>
      </div>
    </div>

  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añadir nuevo miembro</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <fa-icon  [icon]="closeModalIcon" size=2x></fa-icon>
      </button>
    </div>
    <div class="modal-body">
      <mat-error *ngIf="infoError">
        Introduce primero <strong>información</strong> antes de añadir cualquier miembro
     </mat-error>
      <form [formGroup]="mForm">
        <div class="d-flex align-items-center justify-content-center">
          <img class="card img-rounded mx-1" [src]="imgSrc" width="70%" height="325px">
        </div>
        <div class="row my-3 form-group">
            <label class="label-file">Foto de Miembro</label>
            <input type="file" accept="image/*" class="form-control input-file" placeholder="Selecciona un archivo" (change)="showPreview($event)"
            formControlName="picture" [ngClass]="{'is-invalid': isSent && f.picture.errors}"/>
        </div>
        <div class="row form-group">
          <mat-error *ngIf="isSent && f.picture.errors" >
            Debes seleccionar una <strong>foto</strong>
           </mat-error>
        </div>
        <div class="row my-3">

            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="name" [ngClass]="{'is-invalid': isSent && f.name.errors}">
            </mat-form-field>
            <mat-error *ngIf="isSent && f.name.errors">
               Introduce un nombre <strong>válido</strong>
            </mat-error>

        </div>

        <div class="row my-3">

          <mat-form-field>
            <mat-label>Roles en la Banda</mat-label>
            <input matInput type="text" formControlName="role" [ngClass]="{'is-invalid': isSent && f.role.errors}">
          </mat-form-field>
          <mat-error *ngIf="isSent && f.role.errors">
            Introduce un rol <strong>válida</strong>
          </mat-error>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onSubmit()">Guardar</button>
      </div>
      </form>
    </div>


  </ng-template>

</div>


